
body {  
  margin: 0;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100vh;  
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;  
}  

.container {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  width: 100%;   
  padding: 20px;   
}  

.calculadora {  
  background-color: #f0f0f0;   
  padding: 20px;  
  border-radius: 15px;  
  display: inline-block;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
}  

h1 {  
  color: black;   
  font-size: 2.5em;  
  text-align: center;  
  margin-bottom: 20px;  
}  

.pantalla {  
  background-color: #a162bb;   
  color: #fff;  
  font-size: 2em;   
  text-align: right;  
  padding: 15px;  
  border-radius: 10px;  
  margin-bottom: 20px;  
  min-height: 50px; / 
}  

.button-container {  
  display: flex;  
  flex-direction: column;   
}  

.botones-numeros {  
  display: grid;  
  grid-template-columns: repeat(3, 1fr);  
  gap: 10px;  
  margin-bottom: 10px;   
}  

.botones-operaciones {  
  display: grid;  
  grid-template-columns: repeat(2, 1fr);  
  gap: 10px;  
}  

button {  
  background-color: #a162bb;   
  border: none;  
  border-radius: 50%; 
  color: rgb(2, 2, 2);  
  font-size: 1.8em;   
  padding: 20px;  
  cursor: pointer;  
  transition: background-color 0.3s ease;  
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}  

button:hover {  
  background-color: #9c59b6; 
}  

button:active {  
  background-color: #7f4791;   
}  

button.clear {  
  background-color: #e84a4a;  
  color: #fff;  
  grid-column: span 2;   
}  

button.clear:hover {  
  background-color: #d63f3f;  
}  

button.equal {  
  background-color: #4a4a82;   
  grid-column: span 2;   
}  

button.equal:hover {  
  background-color: #3e3e71;  
}  

  
@media (max-width: 600px) {  
  .pantalla {  
    font-size: 1.5em;  
  }  

  button {  
    padding: 15px;  
    font-size: 1.2em;  
  }  
}